<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>1</key>
	<array>
		<real>-84.05</real>
		<real>38.205</real>
		<integer>10</integer>
		<string>Get Milk</string>
	</array>
</dict>
</plist>
